<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link href="static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div style="position: absolute; right: 0; padding-right: 10px">
        <form action="/search">
            <label for="searchbar">Search:</label>
            <input name="email" id="searchbar" type="search" placeholder="searching...">
            <button type="submit" value="search">🔎</button>
        </form>
    </div>
    <div class="header"><h1>Login Form:</h1></div>
    <div class="main-container">
        <form method="post">
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <br>
            <div class="content">
                <label for="name">Surname:</label>
                <input type="text" id="surname" name="surname" required>
            </div>
            <br>
            <div class="content">
                <label for="age">Age:</label>
                <input type="number" id="age" name="age" required>
            </div>
            <br>
            <button class="submit" type="submit">Submit</button>
        </form>
    </div>
    <br>
<a href="/">
    <button>&larr;Back</button>
</a>
</body>
</html>